LUXART_MOCK=true
LUXART_API_BASE_URL=http://zone4you-api-host:9759
LUXART_RESORT_ID=1
LUXART_TIMEOUT_MS=12000

NEXT_PUBLIC_APP_ENV=demo

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
